
{% extends 'mainapp/base.html' %}
{% block title %} | Home {% endblock %}
{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus enim ratione consectetur, repudiandae corrupti qui explicabo reprehenderit hic voluptas natus tenetur. Animi vero commodi ipsa corrupti, voluptates sit explicabo odio?</p>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1 class="text-4xl">hello</h1>
{% endblock %}